<div class="container">
  <div class="row">
    <h3>Teams</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @teams.each do |team| %>
            <tr>
              <%= render team %>
            </tr>
          <% end %>
        </tbody>
        <%= button_to "New Team", new_team_path, :class => "button medium", :method => :get %>
      </table>
    </div>
  </div>
</div>
