<% content_for :title do %>About<% end %>
<h3>About Us</h3>
<p>
This is an application where managers and teams can create tasks and assign it to different people. This app aims to help increase efficiency and workflow.
</p>
